.terraform
.venv
bin
boto3
boto3-1.34.113.dist-info
botocore
botocore-1.34.113.dist-info
certifi
certifi-2024.2.2.dist-info
charset_normalizer
charset_normalizer-3.3.2.dist-info
dateutil
idna
idna-3.7.dist-info
jmespath
jmespath-1.0.1.dist-info
python_dateutil-2.9.0.post0.dist-info
requests
requests-2.32.2.dist-info
s3transfer
s3transfer-0.10.1.dist-info
six-1.16.0.dist-info
urllib3
urllib3-2.2.1.dist-info
lambda_function.zip